.wysiwygEntImagerToolButton{
	border:none;
	background: none;
	cursor: pointer;
}

.wysiwygEditorContener{
	display: flex;
	flex-direction: column;
	font-weight: normal;
}

#wysiwygEntImagerMessage{
	padding: 10px;
	min-height: 40vh;
}