<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style/dialog.css">

</head>
<body>
	<section id="entPage">
		<h1>Configuration</h1>
		<nav>
			<div class="checkboxGroup">
				<input type="checkbox" name="dark" id="dark">
				<label For="dark">Mode sombre</label>
			</div>
			<div class="checkboxGroup">
				<input type="checkbox" name="interface" id="interface">
				<label For="interface">Désactiver l'interface</label>
			</div>
			<div id="textGestion">
				<div class="checkboxGroup">
					<input type="checkbox" name="messageDisplay" id="messageDisplay">
					<label For="messageDisplay">Afficher un message avec l'image dans les réponses</label>
				</div>
				<textarea id="message" placeholder="Message"></textarea>
			</div>

		</nav>
	</section>
	<section id="notEnt">
		<h1>Contenu introuvable</h1>
		<p>
			Veuillez aller sur une page ent.
		</p>
	</section>
</body>
<script type="text/javascript" src="/script/dialog.js"></script>
</html>