<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style/dialog.css">

</head>
<body>
	<h1>Configuration</h1>
	<nav>
		<div class="checkboxGroup">
			<input type="checkbox" name="dark" id="dark">
			<label For="dark">Mode sombre</label>
		</div>
		<div class="checkboxGroup">
			<input type="checkbox" name="interface" id="interface">
			<label For="interface">Désactiver l'interface</label>
		</div>
		<div id="textGestion">
			<div class="checkboxGroup">
				<input type="radio" name="messageDisplay" id="messageNone">
				<label For="messageNone">Pas de message</label>
			</div>
			<div class="checkboxGroup">
				<input type="radio" name="messageDisplay" id="messagePerso">
				<label For="messagePerso">Message personalisé</label>
			</div>
			<div class="checkboxGroup">
				<input type="radio" name="messageDisplay" id="messageDisplay">
				<label For="messageDisplay">Message par défault</label>
			</div>
			<textarea id="message" placeholder="Exemple: 😈"></textarea>
		</div>

	</nav>
</body>
<script type="text/javascript" src="/script/dialog.js"></script>
</html>