<div class="js-current-modal modal--show" id="wysiwygEntImager">
<div class="modal  modal--mask  js-modal">
<div class="modal__dialog js-modal__dialog">
<div class="modal__body js-modal__body">
	<button type="button" class="close close--rounded js-close" id="wysiwygEntImagerClose">×</button>
	<div class="modal__header js-modal__header">
		<h1 class="modal__title text--ellipsis js-modal__title">
			Message de supression personalisé
		</h1>
	</div>
	<div class="modal__content  js-modal__content">
		<div class="cke_contents cke_reset">
		<div class="cke_1 cke cke_reset cke_chrome cke_editor_MESSAGE cke_ltr cke_browser_gecko wysiwygEditorContener">
			<div class="cke_top">
			<nav class="cke_toolgroup" class="cke_toolbar cke_toolbar_last">
				<button class="wysiwygEntImagerToolButton" name="bold">
					<span class="cke_button_icon cke_button__bold_icon" style="background-image:url('https://cdn.mon-ent-occitanie.fr/web-resources/ckeditor/59ce25bc95b78756949301881fb8e7fa/ckeditor/plugins/icons.png?t=I63C');background-position:0 -264px;background-size:auto;">&nbsp;</span>
				</button>
				<button class="wysiwygEntImagerToolButton" name="italic">
					<span class="cke_button_icon cke_button__italic_icon" style="background-image:url('https://cdn.mon-ent-occitanie.fr/web-resources/ckeditor/59ce25bc95b78756949301881fb8e7fa/ckeditor/plugins/icons.png?t=I63C');background-position:0 -288px;background-size:auto;">&nbsp;</span>
				</button>
				<button class="wysiwygEntImagerToolButton" name="insertOrderedList">
					<span class="cke_button_icon cke_button__numberedlist_icon" style="background-image:url('https://cdn.mon-ent-occitanie.fr/web-resources/ckeditor/59ce25bc95b78756949301881fb8e7fa/ckeditor/plugins/icons.png?t=I63C');background-position:0 -1416px;background-size:auto;">&nbsp;</span>
				</button>
				<button class="wysiwygEntImagerToolButton" name="insertUnorderedList">
					<span class="cke_button_icon cke_button__bulletedlist_icon" style="background-image:url('https://cdn.mon-ent-occitanie.fr/web-resources/ckeditor/59ce25bc95b78756949301881fb8e7fa/ckeditor/plugins/icons.png?t=I63C');background-position:0 -1368px;background-size:auto;">&nbsp;</span>
				</button>
				<button class="wysiwygEntImagerToolButton" name="subscript">
					<span class="cke_button_icon cke_button__subscript_icon" style="background-image:url('https://cdn.mon-ent-occitanie.fr/web-resources/ckeditor/59ce25bc95b78756949301881fb8e7fa/ckeditor/plugins/icons.png?t=I63C');background-position:0 -336px;background-size:auto;">&nbsp;</span>
				</button>
				<button class="wysiwygEntImagerToolButton" name="superscript">
					<span class="cke_button_icon cke_button__superscript_icon" style="background-image:url('https://cdn.mon-ent-occitanie.fr/web-resources/ckeditor/59ce25bc95b78756949301881fb8e7fa/ckeditor/plugins/icons.png?t=I63C');background-position:0 -360px;background-size:auto;">&nbsp;</span>
				</button>
			</nav>
			</div>
			<div contenteditable="true" id="wysiwygEntImagerMessage" class="cke_wysiwyg_div cke_reset cke_enable_context_menu cke_editable cke_editable_themed cke_contents_ltr">
				<p>
					<br>
				</p>
			</div>
		</div>
		</div>
	</div>
</div>
</div>
</div>
</div>