.header{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__title{
		border-bottom: 2px solid $border-color;
		margin-bottom: 0;
		text-align: center;
		width: 50vw;
		padding: 2px;
	}
	
	&__menu{
		display:flex;
		justify-content:center;
		flex-wrap:wrap;
		width: 50vw;
		height: 25px;
		margin:none;

		&__link{
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 5px;
			padding-bottom:5px;
			text-decoration: none;
			color: inherit;

			transition-duration:0.5s;

			&:hover{
				color:$linkColor;
				//background: blue;
				transition-duration: 0.5s;
				padding-left: 30px;
				padding-right: 30px;
				font-size:20px;
			}
		}
	}
}