.downloadLink{
	display: flex;
	flex-direction: column;
	cursor: pointer;
	text-decoration: none;
	
	&__name{
		text-decoration: none;
		color: black;
		margin:2px;
		width:100%;
		text-align: center;
	}

	&__image{
		border:none !important;
		width: 64px;
		height: 64px;
	}

	&__version{
		text-align: center;
		text-decoration: none;
		color:black;
	}

	&-waitForData{
		>*{
			display: none;
		}

		background: url("../images/wait.gif");

		width: 100px;
		height: 100px;
		background-size: cover;
		background-repeat: no-repeat;
		justify-self: center;
	}
}